<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bryce的个人网站，开发了一些小工具，关注Go语言。">
    <meta name="author" content="Bryce">

    <title>Golang 开发工具武器库</title>

    <!-- Bootstrap Core CSS -->
    <link href="//res.cloudinary.com/cyeam/raw/upload/v1537933513/cyeam/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </script>Í
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1651120361108148",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>

    {{template "HEAD"}}

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <div class="page-wrap d-flex flex-row align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <h1 class="display-1 d-block">404</h1>
                            <div class="mb-4 lead">The page you are looking for was not found.</div>
                            <!-- <a href="https://www.totoprayogo.com/#" class="btn btn-link">Back to Home</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <p>大家好，我是一个 Go 语言爱好者，这个网站就是基于 Go 开发。我把平时常用的工具、开发包整理搭了一个工具站点，同时我也在个人网站记录了一些 Go 语言的学习历程，希望对大家有帮助。</p>
            <div class="row">
                <div class="col-lg-3">
                    <a class="btn btn-primary btn-large" href="//www.cyeam.com/tool">开发工具站点</a>
                    <a class="btn btn-primary btn-large" href="//blog.cyeam.com">个人博客站点</a>
                </div>
            </div>

        </header>

        <!-- Page Features -->
        <!-- <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3></h3>
                        <p></p>
                        <p>
                            <a href="" class="btn btn-primary">阅读全文</a>
                        </p>
                    </div>
                    <div style="height: 150px">
                        <img src="" alt="" style="width: auto;height: auto;max-width: 100%;max-height: 100%;">
                    </div>
                </div>
            </div>

        </div> -->
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            {{template "TAIL"}}
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/jquery-1.10.2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap.js"></script>

</body>

</html>