<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Base32 解码">
    <title>Base32 在线编解码 字符串Base32编解码</title>
    {{template "TOOLHEAD"}}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 工具扁 -->
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1651120361108148" data-ad-slot="5949461026"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="col-lg-12">
                <h1 class="page-header">Base32 在线编解码</h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6" style="padding-right: 0px;">
                <button class="btn-copy" data-clipboard-snippet=""><i class="fa fa-globe"></i><span>copy</span></button>
                <textarea id="data-json" placeholder="在此输入字符串..." class="form-control" style="height:100%;height: 27vh;min-height:20px;padding:10px 10px 10px 10px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
            </div>
            <div class="col-lg-6" style="padding-right: 0px;">
                <button class="btn-copy" data-clipboard-snippet=""><i class="fa fa-globe"></i><span>copy</span></button>
                <textarea id="go-struct-view" placeholder="在此输入Base32字符串..." class="form-control" style="height:100%;height: 27vh;min-height:20px;padding:10px 10px 10px 10px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
            </div>
            <script src="/static/clipboard-use.js"></script>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12">
                <button id="encode_btn" type="button" class="btn btn-primary">Base32编码</button>
                <button id="decode_btn" type="button" class="btn btn-primary">Base32解码</button>
            </div>
        </div>
        <h3>使用方式：</h3>
        <ul style="margin-top: 10px;">
            <li>字符串转Base32：原内容贴到左侧，点击「Base32编码」;</li>
            <li>还原Base32：编码内容贴到右侧，点击「Base32解码」;</li>
        </ul>
        <h3>Base32介绍：</h3>
        <p>Base32 是一种将二进制数据编码成由 32 个可打印字符组成的字符串的编码方式。</p>
        <p>Base32 使用的字符集通常是大写字母 A-Z 和数字 2-7，共 32 个字符。它将输入的二进制数据按固定长度分组，然后将每组数据映射到对应的 Base32 字符。</p>
        <p>Base32 编码具有一些特点：</p>
        <ul>
            <li>可打印字符：编码结果只包含可打印字符，便于在一些环境中传输和存储，例如在电子邮件、URL 中或作为人类可读的标识符。</li>
            <li>错误检测：相对容易进行错误检测，因为 Base32 字符集相对较小，错误字符更容易被识别。</li>
            <li>大小写不敏感：通常情况下，Base32 编码是大小写不敏感的，这增加了编码的容错性。</li>
        </ul>
        <p>Base32 常用于一些特定的应用场景，如二维码编码、数据标识等，它可以在一定程度上提高数据的可读性和可传输性，同时减少错误的发生。</p>
    </div>
    <script type="application/javascript">
        $('#encode_btn').click(function() {
            var json = $('#data-json').val();
            var url = "/tool/base32/exec?in0=" + json;
            $.ajax({
                url: url,
                dataType: 'json',
            }).done(function(dd) {
                $('#go-struct-view').val(dd.out0);
            });
        });
        $('#decode_btn').click(function() {
            var json = $('#go-struct-view').val();
            var url = "/tool/base32decode/exec?in0=" + json;
            $.ajax({
                url: url,
                dataType: 'json',
            }).done(function(dd) {
                $('#data-json').val(dd.out0);
            });
        });

        $(document).ready(function() {
            $('#collapsePages').collapse();
        });
    </script>
    <!-- /#page-wrapper -->
    {{template "TOOLTAIL"}}