<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bryce">
    <title>
        二进制十进制转换
    </title>
    <link rel="shortcut icon" href="/static/c32.ico"/>
    <link href="/static/bootstrap.css" rel="stylesheet"/>
    <link href="/static/landing-page.css" rel="stylesheet"/>
</head>

<body>
{{template "HEAD"}}
<a name="home">
</a>
<div class="intro-header" id="intro-header" style="padding-top: 0px; padding-bottom: 0px; color: #333">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form method="POST" action="/bincalc">
                    <fieldset>
                        <legend>二进制转十进制</legend>
                        <div class="form-group">
                            <label for="exampleInputEmail1">二进制</label>
                            <input type="text" placeholder="110.01001010001111010111000010100011110101110000101001"
                                   class="form-control" value="{{.Bin}}" name="bin_input"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">十进制</label>
                            <input type="text" placeholder="这里填写十进制数字." class="form-control" value="{{.Dec}}"
                                   name="dec_input"/>
                        </div>
                        <button type="submit" class="btn">转换</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{template "TAIL"}}
        </div>
    </div>
</div>
</div>
<script src="/static/jquery-1.10.2.js">
</script>
<script src="/static/bootstrap.js">
</script>
</body>

</html>