<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="在线把CURL命令转换成Go代码">
    <title>在线把CURL命令转换成Go代码</title>
    {{template "TOOLHEAD"}}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 工具扁 -->
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1651120361108148" data-ad-slot="5949461026"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <textarea id="data-json" placeholder="在此输入..." class="form-control" style="height:100%; min-height:100px;padding:10px 10px 10px 30px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12">
                <pre class="language-go" id="go-struct-view" style="height:100%; min-height:500px;margin: 0px;"></pre>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12"></div>
            <h3>在线把CURL命令转换成Go代码</h3>
            <h4>一、发送 HTTP 请求</h4>
            <ul>
                <li>http.Get 用于发送 HTTP GET 请求，它接受一个 URL 作为参数，并返回一个 http.Response 和可能的错误。</li>
                <li>http.Post 用于发送 HTTP POST 请求，它接受一个 URL、一个 Content-Type 和请求体作为参数，并返回一个 http.Response 和可能的错误。</li>
            </ul>
            <h4>二、处理响应</h4>
            <ul>
                <li>http.Response包含了服务器返回的状态码、响应头和响应体。</li>
                <li>可以使用 io.ReadAll 函数来读取整个响应体内容，但对于大文件可能会消耗大量内存。</li>
            </ul>
            <h4>三、设置请求头</h4>
            <ul>
                <li>可以使用 http.Request 的 Header 字段来设置请求头。</li>
            </ul>
            <h4>本页面实现：<iframe src="https://ghbtns.com/github-btn.html?user=mnhkahn&repo=curl-to-go&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe></h4>
            <h4>试试看</h4>
            <pre>curl "https://www.cyeam.com"</pre>
        </div>
        <script src="/static/clipboard-use.js"></script>


        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
    </div>
    <script type="application/javascript">
        $('#data-json').bind('input propertychange', function() {
            console.debug($(this).val());
            var json = $(this).val();
            var url = "/tool/curl2go/exec?in0=";
            $.ajax({
                type: "post",
                url: url,
                data: json,
            }).done(function(dd) {
                $('#go-struct-view').html(dd);
            });
        });
    </script>
    <!-- /#page-wrapper -->
    {{template "TOOLTAIL"}}