<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Diff">
    <title>Diff checker</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
    {{template "TOOLHEAD"}}
    <div id="page-wrapper">
        <div class="row">
            {{/*
            <div class="col-lg-12">*/}} {{/*
                <h1 class="page-header">Base64 编码</h1>*/}} {{/*
            </div>*/}} {{/*
            <!-- /.col-lg-12 -->*/}}
            <div class="col-lg-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 工具扁 -->
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1651120361108148" data-ad-slot="5949461026"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <style>
            .hljs {
                display: inline !important;
            }
        </style>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <textarea id="data1" placeholder="在此输入..." class="form-control" style="height: 27vh;min-height:20px;padding:10px 10px 10px 30px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
            </div>
            <div class="col-lg-6">
                <textarea id="data2" placeholder="在此输入..." class="form-control" style="height: 27vh;min-height:20px;padding:10px 10px 10px 30px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
                </pre>
            </div>
        </div>
        <script>
            function drawDiff(diffString) {
                console.log(diffString);
                var targetElement = document.getElementById('myDiffElement');
                var configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    matching: 'lines',
                    outputFormat: 'side-by-side',
                    synchronisedScroll: true,
                    highlight: true,
                    renderNothingWhenEmpty: false,
                };
                var diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
                diff2htmlUi.highlightCode();
            }
        </script>
        <div id="myDiffElement"></div>

        <script type="application/javascript">
            $('#data1').bind('input propertychange', function() {
                diff();
            });
            $('#data2').bind('input propertychange', function() {
                diff()
            });

            function diff() {
                var url = "/tool/diff/exec";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify({
                        a: $('#data1').val(),
                        b: $('#data2').val()
                    }),
                }).done(function(dd) {
                    console.log(dd);
                    drawDiff(dd);
                });
            }
        </script>

        <div class="row">
            <div class="col-md-12">
                <h3>在线实时对照两个文件，找出差异</h3>
                <p>Diff最常用的场景是在提交代码的时候，不过日常一些文本分析的场景也会用到。他可以帮助我们快速识别新增、删除、未变化的内容。</p>
                <pre style="margin: 5px;">
~ git diff a b
diff --git a/a b/b
index a30a52a..c200906 100644
--- a/a
+++ b/b
@@ -1,2 +1 @@
-111
 222</pre>
                <p>比较111\n222与222两个文件为例，在本地执行上面的命令，可以展示Diff内容。
                </p>
                <ul>
                    <li>第一行表示结果为git格式的diff；</li>
                    <li>第二行表示两个文件的Git哈希值；</li>
                    <li>三四行表示变化内容，---是变化前的文件，+++是变化后的文件；</li>
                    <li>第五行表示变化的位置，-1,2代表前一个文件的第一行到第二行，+1表示后一个文件的第一行；</li>
                    <li>后面部分表示变化具体内容。</li>
                </ul>
                <p><a class="btn btn-primary btn-lg" href="https://www.ruanyifeng.com/blog/2012/08/how_to_read_diff.html" role="button">Learn more</a></p>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
    </div>

    <!-- /#page-wrapper -->
    {{template "TOOLTAIL"}}