<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="SQL Create 语句生成 go 结构体">
    <title>SQL Create 语句生成 go 结构体</title>
    {{template "TOOLHEAD"}}

    <div id="page-wrapper">
        <div class="row">
            {{/*
            <div class="col-lg-12">*/}} {{/*
                <h1 class="page-header">SQL Create 语句生成 go 结构体</h1>*/}} {{/*
            </div>*/}} {{/*
            <!-- /.col-lg-12 -->*/}}
            <div class="col-lg-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 工具扁 -->
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1651120361108148" data-ad-slot="5949461026"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <textarea id="data-json" placeholder="在此输入SQL..." class="form-control" style="height:100%; min-height:500px;padding:10px 10px 10px 30px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
            </div>
            <div class="col-lg-6">
                <pre class="language-go" id="go-struct-view" style="height:100%; min-height:500px;margin: 0px;">
            </pre>
            </div>
        </div>
        <script src="/static/clipboard-use.js"></script>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h3>CREATE SQL 在线生成Go结构体</h3>
                <iframe src="https://ghbtns.com/github-btn.html?user=mnhkahn&repo=dmltogo&type=star&count=true" frameborder="0" scrolling="0" width="80" height="20" title="GitHub"></iframe><iframe src="https://ghbtns.com/github-btn.html?user=mnhkahn&repo=dmltogo&type=watch&count=true&v=2"
                    frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
                <style>
                    .mytable {
                        font-size: 14px;
                        border: 1px solid #CCC;
                        font-family: Arial, Helvetica, sans-serif;
                        width: 100%;
                        border-collapse: unset;
                    }
                    
                    .mytable td {
                        padding: 4px;
                        margin: 3px;
                        border: 1px solid #CCC;
                    }
                    
                    .mytable th {
                        background-color: #104E8B;
                        color: #FFF;
                        font-weight: bold;
                    }
                </style>
                <table id="main-table" class="mytable">
                    <tbody>
                        <tr>
                            <th>SQL 类型</th>
                            <th>Go 类型</th>
                        </tr>
                        <tr>
                            <td>INT, INTEGER, SMALLINT, TINYINT</td>
                            <td>int, int32, int64（具体取决于数据库中整数的范围和你的应用需求）</td>
                        </tr>
                        <tr>
                            <td>BIGINT</td>
                            <td>int64</td>
                        </tr>
                        <tr>
                            <td>FLOAT, REAL</td>
                            <td>float32</td>
                        </tr>
                        <tr>
                            <td>DOUBLE, DOUBLE PRECISION</td>
                            <td>float64</td>
                        </tr>
                        <tr>
                            <td>DECIMAL(p,s), NUMERIC(p,s)</td>
                            <td>database/sql包中的sql.NullFloat64（可空浮点型）、sql.NullInt64（可处理整数型的小数部分）等，或者使用自定义结构体结合sql.Scanner和driver.Valuer接口处理</td>
                        </tr>
                        <tr>
                            <td>CHAR(n), VARCHAR(n), TEXT</td>
                            <td>string、sql.NullString（可空字符串）</td>
                        </tr>
                        <tr>
                            <td>DATE</td>
                            <td>time.Time</td>
                        </tr>
                        <tr>
                            <td>DATETIME, TIMESTAMP</td>
                            <td>time.Time</td>
                        </tr>
                        <tr>
                            <td>BOOLEAN</td>
                            <td>bool、sql.NullBool（可空布尔型）</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
        <div class="row">
        </div>
        <!-- /.row -->
    </div>
    <script type="application/javascript">
        $('#data-json').bind('input propertychange', function() {
            console.debug($(this).val());
            var json = $(this).val();
            var url = "/tool/dml2gostruct/exec";
            $.ajax({
                url: url,
                dataType: 'json',
                method: 'post',
                data: JSON.stringify({
                    "in0": json
                }),
            }).done(function(dd) {
                $('#go-struct-view').html(dd.out0);
                $('#go-struct-view').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                // $('#go-struct-view').html(jqXHR.responseText);
            });
        });
    </script>
    <!-- /#page-wrapper -->
    {{template "TOOLTAIL"}}