<!DOCTYPE html>
<html lang="en" xmlns:wb="https://open.weibo.com/wb">

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1651120361108148",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bryce的个人网站，开发了一些小工具，关注Go语言。">
    <meta name="author" content="Bryce">
    <title>
        Cyeam
    </title>
    <link rel="shortcut icon" href="/static/c32.ico" />
    <link href="/static/bootstrap.css" rel="stylesheet" />
    <link href="/static/landing-page.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                <a class="navbar-brand" href="/" style="padding:0px">
                    <img src="/static/bryce.jpg" style="width:50px">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/geek">
                                Geek
                            </a>
                    </li>
                    <li>
                        <a href="http://blog.cyeam.com">
                                Blog
                            </a>
                    </li>
                    <li>
                        <a href="//mail.cyeam.com">
                                Mail
                            </a>
                    </li>
                    <li>
                        <a href="//blog.cyeam.com/categories">
                                Categories
                            </a>
                    </li>
                    <li>
                        <a href="//github.com/mnhkahn">
                                Github
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <a name="about"></a>
    <div class="intro-header" id="intro-header">
        <div class="container " id="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="intro-message ">
                        <h1>
                            Cyeam
                        </h1>

                        <hr class="intro-divider ">
                        <form class="form-inline" role="form" action="/t" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="t" id="t" placeholder="Golang 优化之路">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                                </input>
                            </div>
                            <!-- /input-group -->
                        </form>

                        <hr class="intro-divider ">
                        <div class="row" id="ad">
                            <script type="text/javascript" src="//cyeam.qiniudn.com/ad.js"></script>
                            <script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
                        </div>
                        <ul class="list-inline intro-social-buttons ">
                            <li>
                                <!--<img src=" http://cyeam.qiniudn.com/701183632764232630.jpg " title="二维码 " height="350px ">-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a name="services "></a>
    {{range $i, $v := .Docs}} {{ if eq $i 1}}
    <div class="content-section-b ">

        <div class="container ">

            <div class="row ">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 ">
                    <hr class="section-heading-spacer ">
                    <div class="clearfix "></div>
                    <h2 class="section-heading "><a href="{{.Link}} ">{{.Title}}</a></h2>
                    <p class="lead ">{{.Des}}
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 ">
                    <a href="{{.Link}} "><img class="img-responsive " src="{{.Figure}} " alt=" "></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {{else}}
    <div class="content-section-a ">
        <!--<div class="content-section-a ">-->

        <div class="container ">
            <div class="row ">
                <div class="col-lg-5 col-sm-6 ">
                    <hr class="section-heading-spacer ">
                    <div class="clearfix "></div>
                    <h2 class="section-heading "><a href="{{.Link}} ">{{.Title}}</a></h2>
                    <p class="lead ">{{.Des}}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 ">
                    <a href="{{.Link}} "><img class="img-responsive " src="{{.Figure}} " alt=" "></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {{ end }} {{end}}

    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <ul class="list-inline ">
                        <li>
                            <a href="# ">Home</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#about ">About</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#services ">Services</a>
                        </li>
                    </ul>
                    <div class="row ">
                        <div class="col-lg-12 ">
                            <p class="copyright text-muted small ">
                                Copyright &copy; Cyeam 2017. All Rights Reserved
                                <script type="text/javascript ">
                                    var cnzz_protocol = (("https: " == document.location.protocol) ? " https:// " : " http:// ");
                                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1000474528' %3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1000474528%26show%3Dpic1' type='text/javascript' %3E%3C/script%3E "));
                                </script>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/static/jquery-1.10.2.js ">
    </script>
    <script src="/static/bootstrap.js ">
    </script>
    <!--<script type="text/javascript">
        (function(document, t) {
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.src = "//cyeam.qiniudn.com/ad.js";
            $("#ad").append(s);
        }(document, 'script'));
    </script>-->
    <script type="text/javascript ">
        var vglnk = {
            key: 'd7bd23b4bd9475aa00c5c2cd40af63c2'
        };

        (function(d, t) {
            var s = d.createElement(t);
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.viglink.com/api/vglnk.js';
            var r = d.getElementsByTagName(t)[0];
            r.parentNode.insertBefore(s, r);
        }(document, 'script'));
    </script>
</body>

</html>