<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1651120361108148",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>

{{template "HEAD"}}

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h2>Cyeam</h2>
        <p>大家好，我是一个 Go 语言爱好者，这个网站就是基于 Go 开发。我在我的个人网站记录了一些 Go 语言的学习历程，希望对大家有帮助。</p>
        <p>长期招人，不管是哪个方向的，可以给我发邮件：lichao@cyeam.com。</p>
        <p><a class="btn btn-primary btn-large" href="http://blog.cyeam.com">进入个人博客</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>最近文章：</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
    {{range $i, $v := .Docs}}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{.Title}}</h3>
                    <p>{{.Des}}</p>
                    <p>
                        <a href="{{.Link}}" class="btn btn-primary">阅读全文</a>
                    </p>
                </div>
                <div style="height: 150px">
                    <img src="{{.Figure}}" alt="" style="width: auto;height: auto;max-width: 100%;max-height: 100%;">
                </div>
            </div>
        </div>
    {{end}}

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
    {{template "TAIL"}}
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/static/jquery-1.10.2.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/bootstrap.js"></script>

</body>

</html>
