<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="MessagePack To JSON">
    <title>MessagePack 转 JSON</title>
    {{template "TOOLHEAD"}}

    <div id="page-wrapper">
        <div class="row">
            {{/*
            <div class="col-lg-12">*/}} {{/*
                <h1 class="page-header">MessagePack 转 JSON</h1>*/}} {{/*
            </div>*/}} {{/*
            <!-- /.col-lg-12 -->*/}}
            <div class="col-lg-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 工具扁 -->
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1651120361108148" data-ad-slot="5949461026"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <textarea id="data-json" placeholder="在此输入MessagePack..." class="form-control" style="height:100%;height: 27vh;min-height:20px;padding:10px 10px 10px 30px;border:solid 1px #E5EBEE;border-radius:inherit;resize: none; outline:none;font-size:15px;"></textarea>
            </div>
            <div class="col-lg-6">
                <pre class="language-go" id="go-struct-view" style="height:100%;height: 27vh;min-height:20px;margin: 0px;">
            </pre>
            </div>
        </div>
        <script src="/static/clipboard-use.js"></script>
        <h3 style="margin-top: 10px;">MsgPack 类似于JSON，但更快更轻</h3>
        <p>试试 <b>81a161cb3ff0000000000000</b>
        </p>
        <div class="row">
            <div class="col-md-7">
                <img src="https://msgpack.org/images/intro.png" width="520px" alt="以{'compact':true,'schema':0}为例，本身占27字节，压缩完只需要18字节。" />
            </div>
            <div class="col-md-5">
                <p>MessagePack 是一种高效的二进制序列化格式。它可以让你像使用 JSON 一样在多种语言之间交换数据。但它更快且占用空间更小。小整数被编码为单个字节，典型的短字符串除了字符串本身之外只需要一个额外的字节。 </p>
                <code style="margin: 5px;">{"compact":true,"schema":0}</code>
                <p>从上面例子来看，本身占27字节，压缩完只需要18字节。</p>
                <p>MsgPack兼顾了可读性和性能，不过一些内容编码后不可读，需要进行十六进制编码或者Base64编码。</p>
                <p><a class="btn btn-primary btn-xs" href="https://msgpack.org/" role="button">Learn more</a></p>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
        </div class="col-lg-12">
        <style>
            .mytable {
                font-size: 14px;
                border: 1px solid #CCC;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                border-collapse: unset;
            }
            
            .mytable td {
                padding: 4px;
                margin: 3px;
                border: 1px solid #CCC;
            }
            
            .mytable th {
                background-color: #104E8B;
                color: #FFF;
                font-weight: bold;
            }
        </style>
        <table id="main-table" class="mytable">
            <tbody>
                <tr>
                    <th>对比项目</th>
                    <th>Msgpack</th>
                    <th>JSON</th>
                    <th>XML</th>
                </tr>
                <tr>
                    <td>数据格式</td>
                    <td>二进制格式</td>
                    <td>文本格式</td>
                    <td>文本格式</td>
                </tr>
                <tr>
                    <td>数据大小</td>
                    <td>通常较小</td>
                    <td>一般</td>
                    <td>通常较大</td>
                </tr>
                <tr>
                    <td>编码效率</td>
                    <td>高</td>
                    <td>较高</td>
                    <td>低</td>
                </tr>
                <tr>
                    <td>可读性</td>
                    <td>低（二进制难直接阅读）</td>
                    <td>高（人类可读）</td>
                    <td>高（人类可读，但较复杂）</td>
                </tr>
                <tr>
                    <td>语言支持</td>
                    <td>多种编程语言支持良好</td>
                    <td>广泛支持多种编程语言</td>
                    <td>广泛支持多种编程语言</td>
                </tr>
                <tr>
                    <td>扩展性</td>
                    <td>较好，可灵活定义结构</td>
                    <td>较好，可通过对象和数组扩展</td>
                    <td>非常好，具有丰富的扩展性和自定义标签</td>
                </tr>
                <tr>
                    <td>适用场景</td>
                    <td>对数据大小和效率要求高的场景，如内部通信、存储紧凑数据等</td>
                    <td>数据交换、API 通信等</td>
                    <td>复杂的文档结构、配置文件、数据存储等</td>
                </tr>
                <tr>
                    <td>解析速度</td>
                    <td>快</td>
                    <td>较快</td>
                    <td>相对较慢</td>
                </tr>
                <tr>
                    <td>复杂性</td>
                    <td>相对简单</td>
                    <td>简单</td>
                    <td>较复杂</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->
    <div class="row">
    </div>
    <!-- /.row -->
    <div class="row">
    </div>
    <!-- /.row -->
    </div>
    <script type="application/javascript">
        $('#data-json').bind('input propertychange', function() {
            // var json = '{"a":1}';
            var json = $(this).val();
            var url = "/tool/msgpacktojson/exec";
            $.ajax({
                url: url,
                dataType: 'json',
                method: 'post',
                data: JSON.stringify({
                    "in0": json
                }),
            }).done(function(dd) {
                $('#go-struct-view').html(dd.out0);
                $('#go-struct-view').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                $('#go-struct-view').html(jqXHR.responseText);
            });
        });
    </script>
    <!-- /#page-wrapper -->
    {{template "TOOLTAIL"}}