<!DOCTYPE html>
<html lang="en" xmlns:wb="https://open.weibo.com/wb">

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1651120361108148",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bryce的个人网站，开发了一些小工具，关注Go语言。">
    <meta name="author" content="Bryce">
    <title>
        Cyeam
    </title>
    <link rel="shortcut icon" href="/static/c32.ico"/>
    <link href="/static/bootstrap.css" rel="stylesheet"/>
    <link href="/static/landing-page.css" rel="stylesheet"/>
</head>

<body>
{{template "HEAD"}}

<a name="about"></a>
<div class="intro-header" id="intro-header">
    <div class="container " id="container ">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="intro-message ">
                    <h3>常年招聘 Golang 工程师，感兴趣的给我发简历 lichao@cyeam.com </h3>
                    <div>
                        <div class="position-detail-container">
                            <div class="title"><span class="left-border"></span><span>职位描述</span></div>
                            <div class="pre-content"><pre>1、负责用户侧、后台的服务器端开发；
2、对现有架构、性能进行优化。</pre>
                            </div>
                        </div>
                        <div class="position-detail-container">
                            <div class="title"><span class="left-border"></span><span><span>职位要求</span></span><span
                                    class="tips">经验3-5年</span><span class="tips">学历本科及以上</span></div>
                            <div class="pre-content"><pre>1、精通PHP/Go开发，或者有意向转Go/python，有较强的架构能力和良好代码规范；
2、精通GNU Linux，熟悉SQL，并了解常用的SQL优化技巧；熟悉MySQL，并掌握常用性能优化技巧；
3、熟悉Memcached或Redis、MongoDB等NoSQL技术，有大规模系统设计和开发经验者优先；
4、学习能力强，具备良好的问题分析和解决能力，对新技术有敏感性并愿意致力于新技术研究；
5、质量意识高，对项目质量追求完美；
6、沟通能力强，良好的团队合作精神；
7、有商城开发经验优先；
8、计算机、通讯、数学等相关专业本科以上学历。</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="services "></a>

<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12 ">
                <ul class="list-inline ">
                    <li>
                        <a href="# ">Home</a>
                    </li>
                    <li class="footer-menu-divider ">&sdot;</li>
                    <li>
                        <a href="#about ">About</a>
                    </li>
                    <li class="footer-menu-divider ">&sdot;</li>
                    <li>
                        <a href="#services ">Services</a>
                    </li>
                </ul>
            {{template "TAIL"}}
            </div>
        </div>
    </div>
</footer>

<script src="/static/jquery-1.10.2.js ">
</script>
<script src="/static/bootstrap.js ">
</script>
<!--<script type="text/javascript">
    (function(document, t) {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = "//cyeam.qiniudn.com/ad.js";
        $("#ad").append(s);
    }(document, 'script'));
</script>-->
<script type="text/javascript ">
    var vglnk = {
        key: 'd7bd23b4bd9475aa00c5c2cd40af63c2'
    };

    (function (d, t) {
        var s = d.createElement(t);
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0];
        r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
</body>

</html>