<!DOCTYPE html>
<html lang="en" xmlns:wb="https://open.weibo.com/wb">

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1651120361108148",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bryce的个人网站，开发了一些小工具，关注Go语言。">
    <meta name="author" content="Bryce">
    <title>
        Cyeam
    </title>
    <link rel="shortcut icon" href="/static/c32.ico" />
    <link href="/static/bootstrap.css" rel="stylesheet" />
    <link href="/static/landing-page.css" rel="stylesheet" />
</head>

<body>
    {{template "HEAD"}}

    <a name="about"></a>
    <div class="intro-header" id="intro-header">
        <div class="container " id="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="intro-message ">
                        <h3>常年招聘 Golang 工程师，感兴趣的给我发简历 lichao@cyeam.com </h3>
                        <div style="text-align: left;"">
                            <h4>后端研发工程师-电商供应链与物流</h4>
                            <div class="position-detail-container">
                                <pre>1、从事技术架构、核心开发工作，参与构建字节跳动电商物流平台的各类产品研发，包括但不限于：
   物流服务履约、物流网络、要素管理、服务商接入、供应链管理、仓储、关务、配送、电子面单、物流详情等面向国际国内物流业务支撑的中台能力；
2、深入理解业务，技术驱动，能够做技术规划，合理选型，并且推动落地；
3、新人指导、培训及CodeReview，发现和解决系统存在的性能瓶颈等技术难题，推动系统架构优化；
4、具有一定的商业敏感度，对业务能够深入理解，具备良好的业务建模能力，能够结合业务场景抽象，通过数据分析定义问题并给出解决方案；
5、擅长与合作伙伴的交流沟通，换位思考，面向业务结果思考过程；
6、能够积极创新，乐于面对挑战，开放坦诚，务实敬业，追求极致，具有优秀的团队合作精神。
<a class="btn btn-danger" href="https://jobs.bytedance.com/referral/pc/position/detail/?token=MjsxNjQ0OTc4NTI1ODgxOzY2ODgyMDg5MzUyOTM2MDEyOTQ7NjkxOTgyMjMzMzgwNTc0MjM0NA" role="button">投递</a></pre>
                            <h4>资深后端研发工程师-抖音电商技术架构</h4>
                            <div class="position-detail-container">
                                <pre>1、负责抖音电商重要活动技术保障，解决高并发的峰值系统问题；
2、负责库存、订单、商品、物流等电商中台系统优化、重构工作；
3、负责电商系统通用组件的设计和实现；
4、负责电商系统的高可用/稳定性/安全性/高性能等的系统能力保障。
<a class="btn btn-danger" href="https://job.toutiao.com/s/LWtbXDW" role="button">投递</a></pre>
                            <h4>后端研发工程师-抖音电商</h4>
                            <div class="position-detail-container">
                                <pre>1、探索字节系平台（抖音、抖音火山版、今日头条、西瓜视频等）内容电商业务模式，承担系统的设计开发维护工作；
2、负责用户侧、后台的服务器端开发；
3、对现有架构、性能进行优化。
<a class="btn btn-danger" href="https://job.toutiao.com/s/LWtmMt2" role="button">投递</a></pre>
                            </div>
                        </div>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- 工具扁 -->
                        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                            data-ad-client="ca-pub-1651120361108148" data-ad-slot="5949461026"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <a name="services "></a>

    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <ul class="list-inline ">
                        <li>
                            <a href="# ">Home</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#about ">About</a>
                        </li>
                        <li class="footer-menu-divider ">&sdot;</li>
                        <li>
                            <a href="#services ">Services</a>
                        </li>
                    </ul>
                    {{template "TAIL"}}
                </div>
            </div>
        </div>
    </footer>

    <script src="/static/jquery-1.10.2.js ">
    </script>
    <script src="/static/bootstrap.js ">
    </script>
    <!--<script type="text/javascript">
    (function(document, t) {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = "//cyeam.qiniudn.com/ad.js";
        $("#ad").append(s);
    }(document, 'script'));
</script>-->
    <script type="text/javascript ">
    var vglnk = {
        key: 'd7bd23b4bd9475aa00c5c2cd40af63c2'
    };

    (function (d, t) {
        var s = d.createElement(t);
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0];
        r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
</body>

</html>