{{define "TOOLTAIL"}}

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script src="/static/bootstrap.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/metisMenu.min.js"></script>

<script src="/static/highlight.pack.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/sb-admin-2.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50171522-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-50171522-1');
</script>
</body>

</html>
{{end}}