{{define "TOOLTAIL"}}

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script src="/static/bootstrap.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/metisMenu.min.js"></script>

<script src="/static/highlight.pack.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/sb-admin-2.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E3QKS9NRSJ"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-E3QKS9NRSJ');
</script>
</body>

</html>
{{end}}