{{define "TOOLHEAD"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="mnhkahn">

<link rel="shortcut icon" href="/static/c32.ico" />

<!-- Bootstrap Core CSS -->
<link href="/static/bootstrap.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="/static/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/prism.css" rel="stylesheet" type="text/css">
<link href="/static/github.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<link href="/static/clipboard.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/static/jquery-1.10.2.js "></script>
<script src="/static/prism.js"></script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1651120361108148",
        enable_page_level_ads: true
    });
</script>
<script>
  (function(h,o,u,n,d) {
    h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
    d=o.createElement(u);d.async=1;d.src=n
    n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
  })(window,document,'script','https://www.datadoghq-browser-agent.com/ap1/v5/datadog-rum.js','DD_RUM')
  window.DD_RUM.onReady(function() {
    window.DD_RUM.init({
      clientToken: 'pub741e5f238cc34a30f71bb518d6f146f0',
      applicationId: '613ed4bf-e5ac-4ff3-9627-72317cb1d93a',
      // `site` refers to the Datadog site parameter of your organization
      // see https://docs.datadoghq.com/getting_started/site/
      site: 'ap1.datadoghq.com',
      service: 'cyeam',
      env: 'prod',
      // Specify a version number to identify the deployed version of your application in Datadog
      // version: '1.0.0',
      sessionSampleRate: 100,
      sessionReplaySampleRate: 20,
      trackUserInteractions: true,
      trackResources: true,
      trackLongTasks: true,
      defaultPrivacyLevel: 'mask-user-input',
    });
  })
</script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> {{/*
                <a class="navbar-brand" href="index.html">小工具合集</a>*/}}
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="margin-top: 20px;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/tool/formatjson"><img src="https://json.com/public/favicon.ico" style="width: 1.1em; vertical-align: text-top" alt="JSON" /> 格式化 JSON</a>
                        </li>
                        <li>
                            <a href="/tool/jsonpack"><img src="https://json.com/public/favicon.ico" style="width: 1.1em; vertical-align: text-top" alt="JSON" /> JSON压缩</a>
                        </li>
                        <li>
                            <a href="/tool/diff"><i class="fa fa-american-sign-language-interpreting fa-fw"></i> 文本Diff</a>
                        </li>
                        <li>
                            <a href="/tool/timestamp"><i class="fa fa-clock-o fa-fw"></i> 时间戳</a>
                        </li>
                        <li>
                            <a href="/tool/curl2go"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727620148/favicon-gopher.svg" style="width: 1.1em; vertical-align: text-top" alt="Go" /> 在线把cURL命令转换成Go代码</a>
                        </li>
                        <li>
                            <a href="/tool/json2gostruct"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727620148/favicon-gopher.svg" style="width: 1.1em; vertical-align: text-top" alt="Go" /> JSON 转 Go 结构体</a>
                        </li>
                        <li>
                            <a href="/tool/json2thriftstruct"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727620350/thrift.ico" style="width: 1.1em; vertical-align: text-top" alt="Thrift" /> JSON 转 Thrift</a>
                        </li>
                        <li>
                            <a href="/tool/json2ddl"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727534026/favicon.ico" style="width: 1.1em; vertical-align: text-top" alt="SQL" /> JSON 转 SQL DDL</a>
                        </li>
                        <li>
                            <a href="/tool/dml2gostruct"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727620148/favicon-gopher.svg" style="width: 1.1em; vertical-align: text-top" alt="Go" /> SQL 生成 Go 结构体</a>
                        </li>
                        <li>
                            <a href="/tool/jsontomsgpack"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727534096/msgpack.ico.ico" style="width: 1.1em; vertical-align: text-top" alt="MsgPack" /> JSON 转 MessagePack</a>
                        </li>
                        <li>
                            <a href="/tool/msgpacktojson"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727534096/msgpack.ico.ico" style="width: 1.1em; vertical-align: text-top" alt="MsgPack" /> MessagePack 转 JSON</a>
                        </li>
                        <li>
                            <a href="/tool/formatxml"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727534130/xml.ico.ico" style="width: 1.1em; vertical-align: text-top" alt="XML" /> 格式化 XML</a>
                        </li>
                        <li>
                            <a href="/tool/xml2gostruct"><img src="https://res.cloudinary.com/cyeam/image/upload/v1727534130/xml.ico.ico" style="width: 1.1em; vertical-align: text-top" alt="XML" /> XML 转 Go 结构体</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                                <i class="fa fa-fw fa-angle-double-down"></i>
                                <span style="font-size: 18px;">编解码</span>
                            </a>
                            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <ul>
                                        <style>
                                            li>a {
                                                position: relative;
                                                display: block;
                                                padding: 10px 15px;
                                            }
                                            
                                            #collapsePages>div>ul>li {
                                                list-style-type: none
                                            }
                                            
                                            #collapsePages>div>ul>li>a {
                                                text-decoration: none
                                            }
                                        </style>
                                        <li>
                                            <a href="/tool/urlescape"><i class="fa fa-refresh fa-fw"></i> Url Encode 编码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/urlunescape"><i class="fa fa-refresh fa-fw"></i> Url Decode 解码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/base32"><i class="fa fa-refresh fa-fw"></i> Base 32 编码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/base32decode"><i class="fa fa-refresh fa-fw"></i> Base 32 解码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/base64"><i class="fa fa-refresh fa-fw"></i> Base 64 编码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/base64decode"><i class="fa fa-refresh fa-fw"></i> Base 64 解码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/hex"><i class="fa fa-refresh fa-fw"></i> Hex 十六进制编码</a>
                                        </li>
                                        <li>
                                            <a href="/tool/hexdecode"><i class="fa fa-refresh fa-fw"></i> Hex 十六进制解码</a>
                                        </li>
                                        {{/*
                                        <li>*/}} {{/*
                                            <a href="/tool/ascii"><i class="fa fa-refresh fa-fw"></i> 转 ASCII 码</a>*/}} {{/*
                                        </li>*/}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <iframe src="https://ghbtns.com/github-btn.html?user=mnhkahn&type=follow&count=true" frameborder="0" scrolling="0" width="170" height="20" title="GitHub"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=mnhkahn&repo=gogogo&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        {{end}}
