<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rarbg</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <link rel="shortcut icon" href="http://cyeam.qiniudn.com/c32.ico" />

    <!-- Custom CSS -->
    <link href="http://cyeam.qiniudn.com/blog-home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .label-gold {
            background-color: #FFCC01;
        }
        
        .label-silver {
            background-color: #B4B8BC;
        }
        
        .label-bronze {
            background-color: #D1A684;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Rarbg</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Figure</th>
                            <th>Name</th>
                            <th>豆瓣评分</th>
                            <th>Format</th>
                            <th>Size</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Items}}
                        <tr>
                            <th scope="row">{{.ID}}</th>
                            <td><img src="{{.Figure}}" class="img-responsive" alt="{{.Name}}"></td>
                            <td>{{.Name}}({{.OriginalTitle}})</td>
                            <td>{{.Rate}}</td>
                            <td>{{.Format}}</td>
                            <td>{{.Size}}</td>
                            <td>{{.Date}}</td>
                            <td>
                                <a href="/rarbg/torrents?id={{.ID}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="{{.Pre.Url}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{range .Pages}}
                        <li {{if .Selected}} class="active" {{end}}><a href="{{.Url}}">{{.Page}}</a></li>
                        {{end}}
                        <li>
                            <a href="{{.Next.Url}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Powerd by <a href="https://startbootstrap.com/template-overviews/blog-home/">Start Bootstrap</a>. Copyright &copy; Cyeam 2017. All Rights Reserved</p>
                    <script type="text/javascript">
                        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cspan id='cnzz_stat_icon_1255947364'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255947364%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="http://cyeam.qiniudn.com/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

</body>

</html>