<!DOCTYPE html>
<html lang="en" xmlns:wb="https://open.weibo.com/wb">

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1651120361108148",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bryce的个人网站，开发了一些小工具，关注Go语言。">
    <meta name="author" content="Bryce">
    <title>
        Cyeam
    </title>
    <link rel="shortcut icon" href="/static/c32.ico"/>
    <link href="/static/bootstrap.css" rel="stylesheet"/>
    <link href="/static/landing-page.css" rel="stylesheet"/>
</head>

<body>
{{template "HEAD"}}

<a name="about"></a>
<div class="intro-header" id="intro-header">
    <div class="container " id="container ">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="intro-message ">
                    <h1>
                        Cyeam
                    </h1>

                    <hr class="intro-divider ">

                    <style>
                        .ahrefstyle {
                            color: #f8f8f8;
                            text-decoration: none;
                            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
                        }

                        .ahrefstyle:hover,
                        .ahrefstyle:focus {
                            color: #f8f8f8;
                        }

                        .item {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    </style>

                    <!-- 阅读 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.zhihu.com/">知乎</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.v2ex.com/">V2EX</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://toutiao.io/">开发者头条</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="http://www.cyeam.com/geek">Cyeam 头条</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="http://www.duokan.com/u/mybook">多看</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank"
                               href="http://blog.knownsec.com/Knownsec_RD_Checklist/v2.2.html">知道创宇</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://time.geekbang.org/column/81">从0开始学架构</a>
                        </div>
                    </div>

                    <!-- 开发 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.json.cn/">JSON 格式化</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://dashboard.heroku.com">heroku</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://portal.qiniu.com/">七牛</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://analytics.google.com/analytics/web/">Google
                                Analytics</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://trends.google.com/trends/?geo=US">Google
                                Trends</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://leetcode-cn.com/">Leetcode</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://v3.bootcss.com/">BootStrap</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://bitbucket.org/">Bitbucket</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://shields.io/">Shields</a>
                        </div>
                    </div>

                    <!-- 办公 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://mail.163.com/">网易邮箱</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.icloud.com/">iCloud</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.onenote.com/hrd">Onenote</a>
                        </div>
                    </div>

                    <!-- 编解码 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank"
                               href="http://tool.chinaz.com/Tools/unixtime.aspx">时间戳</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank"
                               href="http://tool.chinaz.com/Tools/Base64.aspx">Base64</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="/bincalc">二进制转十进制</a>
                        </div>
                    </div>

                    <!-- 娱乐 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="http://rarbg.to/index12.php">rarbg</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.zhibo8.cc/">直播8</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="http://youku.com/">优酷</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="http://youku.com/">爱奇艺</a>
                        </div>
                    </div>

                    <!-- 购物 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://top.jd.com/">京东排行榜</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://buyersguide.macrumors.com/">苹果消费指南</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://www.huishoubao.com/">回收宝</a>
                        </div>
                    </div>

                    <!-- 插件 -->
                    <div class="row item">
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank"
                               href="https://chrome.google.com/webstore/category/extensions?utm_source=cyeam">Chrome
                                应用商店</a>
                        </div>
                        <div class="col-md-1">
                            <a class="ahrefstyle" target="_blank" href="https://greasyfork.org/zh-CN/scripts">油猴商店</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container ">
    {{template "TAIL"}}
    </div>
</footer>

<script src="/static/jquery-1.10.2.js ">
</script>
<script src="/static/bootstrap.js ">
</script>
<!--<script type="text/javascript">
    (function(document, t) {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = "//cyeam.qiniudn.com/ad.js";
        $("#ad").append(s);
    }(document, 'script'));
</script>-->
<script type="text/javascript ">
    var vglnk = {
        key: 'd7bd23b4bd9475aa00c5c2cd40af63c2'
    };

    (function (d, t) {
        var s = d.createElement(t);
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0];
        r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
</body>

</html>